$bg-color: yellow;
$border-color: red;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  background-position: center;
}

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app {
  flex: 1;
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
